
h1{
	text-align: center;
	background: grey;
	color: #003366;
	text-shadow: 2px 2px #464749;
	padding: 5px;
}
.row {
	text-align: center;

}
#navbar{
	background: grey;
	color: white;
	font-weight: bold;
	text-decoration: underline;
	padding: 0;
	margin: 0;
	width: auto;
	max-width: all;
}
header.container-fluid{
	margin: 0;
	padding: 0;
	width: auto;
	box-sizing: content-box;
	max-width: all;
}
