
body{
	font-size: 16px;
	color: black;
	background-color: #B1ADAE;

}
.nav-item{
	color: black;

}
#header-nav{
	background: #527a7a;
	color: black;
	border-radius: 0;
}
#header{
float: left;

}
#navbutton{
background-color: grey;
margin-top: 130px;




}
.navbar-nav{
margin-left: auto !important;
padding-top: 130px;
font-size: 1.2rem;

}
.navbar-brand{
	padding-top: 130px;
	font-size: 1.5rem
}/* header name*/
.navbar-brand h1{
	color: black;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a{
	text-decoration: none;
}



#logo-img{
	background: url(../img/callyslogo.png) no-repeat;
	width: 165px;
	height: 160px;
	margin: 0px 5px 0px 0;
}